@using SalonReservations.Models

@namespace SalonReservations.View.Components

@if (Stylist == null && !IsMinimalDesign)
{
    <div class="row">
        <div class="col-12">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search Services" aria-label="Search Services"
                    aria-describedby="btnSearch" disabled>
                <button class="btn btn-outline-secondary" type="button" id="btnSearch">Search</button>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col">
        <div class="d-flex flex-row justify-content-center flex-wrap">
            @foreach (var service in Services)
            {
                @if (Stylist == null || !IsMinimalDesign)
                {
                    <div class="card m-2" style="width: 18rem;">
                        <img src="images/service1.jpg" class="card-img-top" style="max-height:180px" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@service.Name</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                                the card's content.</p>

                            <div class="d-grid gap-2 col-6 mx-auto">
                                <button @onclick="() => ServiceSelected(service)" class="btn btn-primary">Select</button>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <span class="badge bg-secondary me-2">@service.Name</span>
                }
            }
        </div>
    </div>
</div>