@page "/"

<PageTitle>Index</PageTitle>

<h1>Salon Booking Demo Web App</h1>
<p>
    This demo web app provides a seamless and user-friendly interface for exploring and booking salon services. Key
    features include:
</p>
<ul>
    <li>
        <b>Browse Salon Services:</b> Easily view a curated list of available salon treatments and services with
        detailed
        descriptions and pricing.
    </li>
    <li>
        <b>View Stylists:</b> Explore profiles of professional stylists, including their specialties, experience, and
        customer
        reviews.
    </li>
    <li>
        <b>Check Stylist Availability:</b> View real-time availability of each stylist to find the best time that fits
        your
        schedule.
    </li>
    <li>
        <b>Book Appointments:</b> Quickly and conveniently make appointments with your preferred stylist directly
        through the
        app.
    </li>
</ul>
<p class="alert" style="background-color:#F7D1E0">
    This demo highlights the kind of clean, functional, and scalable web applications I can build. If you're looking for
    a developer who can bring your digital product ideas to life, let’s talk.
</p>