@page "/services"

@using SalonReservations.View.Components

<h1>Services</h1>
<p>
    At Salon Booking, we specialize in personalized haircuts, color, and styling designed to fit your unique look and
    lifestyle.
    From fresh fades and dimensional highlights to smoothing treatments and special occasion updos, our expert stylists
    use premium products
    and modern techniques to leave you feeling confident and refreshed after every visit.
</p>

<ShopServiceComponent Stylist="@Stylist" />
