@page "/stylists"
@using SalonReservations.View.Components
@namespace SalonReservations.Pages

<h1>Stylists</h1>
<p>
    Our team of experienced, passionate stylists is here to bring your hair goals to life. Each stylist brings their own
    unique talent,
    creativity, and approach — whether you're looking for a precision cut, bold color, or a full transformation.
    Get to know our team below and find the perfect match for your style.
</p>

<StylistsComponent ServiceName=@ServiceName />