@inherits LayoutComponentBase

<PageTitle>Salon Reservations</PageTitle>

<div class="page" style="margin-bottom:150px">
    <NavMenu />

    <div class="container">
        <main>
            <article class="content px-4" style="margin-top:80px">
                @Body
            </article>
        </main>
    </div>
</div>
<SiteFooter />