<footer class="text-center text-white py-4 fixed-bottom bg-dark">
    © @DateTime.Now.Year <a href="https://patrycksprojects.com" target="_blank" class="text-decoration-none">Patrycks
        Projects</a>.
    Demo project for showcasing web development skills.
    <br>Not affiliated with any real salon.
</footer>
